#grid_container {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas:
        ". header_area ."
        ". main_area .";
}

header {
    grid-area: header_area;
    text-align: center;
    color: white;
}

main {
    grid-area: main_area;
}

body {
    background-color: rosybrown;
}

form {
    background-color: white;
    border: 2px solid #CCCC;
    padding: 36px;
}

div {
    margin-bottom: 15px;
}

p {
    font-weight: bolder;
}

#first_name_id,
#middle_name_id,
#last_name_id,
#email_id,
#phone_number_id,
#password_id {
    border: 0px;
    border-bottom: 4px solid lightsalmon
}

#first_name_id:focus-visible,
#middle_name_id:focus-visible,
#last_name_id:focus-visible,
#email_id:focus-visible,
#phone_number_id:focus-visible,
#password_id:focus-visible {
    outline: 0;
    background-color: lightsalmon;
    color: white;
}

input:not(focus):not(:placeholder-shown):invalid {
    background-color: rgb(255, 74, 74);
}

input:not(focus):not(:placeholder-shown):valid {
    background-color: rgb(79, 182, 132);
}

textarea {
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    background-color: lightsalmon;
    color: white;
    font-weight: bold;
    border: 2px solid lightsalmon;
}

input[type=submit] {
    background-color: lightsalmon;
    color: white;
    margin-top: 15px;
    border: 1px solid lightsalmon;
    background: linear-gradient(to bottom, lightsalmon, orange);
    cursor: pointer;
}

input[type=submit]:hover {
    opacity: 0.9;
}

input[type=submit]:active {
    background: linear-gradient(to top, red, rgb(255, 128, 0));
    border: yellow;
}