/* Google Font API imports - found at https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Secular+One&display=swap');


body {
    margin: 0px;
    background-color: whitesmoke;
}

nav {
    background-color: rgb(41, 41, 41);
    position: sticky;
    top: 0px;
    border: 3px solid rgb(41, 41, 41);
}

#name {
    margin-right: auto;
    font-weight: bolder;
    font-style: oblique;
    color: whitesmoke;
}

ul {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    list-style-type: none;
    max-width: 800px;
    margin: 0px auto;
}

ul li {
    padding: 30px;
}

li a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    margin-right: 20px;
}

.dropdown_container {
    position: relative;
}

.dropdown_menu {
    background-color: rgb(0, 0, 0);
    position: absolute;
    flex-direction: column;
    width: 100%;
    left: 0px;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.3s, 
        visibility 0.3s,
        top 0.3s;
}

.dropdown_container:hover .dropdown_menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

#hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/BBQ1.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

#hero a,
.card a {
    background-color: #ff5454;
    color: white;
    border: 2px solid #ff5454;
    border-radius: 24px;
    display: inline-block;
    padding: 8px 16px;
    margin-top: 12px;
    min-width: 150px;
    transition: transform 0.25s;
    text-decoration: none;
    font-family: 'montserrat';
}

#hero a:hover,
.card a:hover {
    transform: scale(1.1);
}

#placeholder_info {
    padding: 35px;
    text-align: center;
}

#my_gallery {
    display: flex;
    flex-wrap: wrap;
    padding-top: 24px;
}

#my_gallery img {
    height: 200px;
    margin: 12px;
    flex: 1 0 auto;
    object-fit: cover;
}

#cards_section {
    text-align: center;
    margin-top: 90px;
}

#cards_section h2,
#cards_section p {
    color: rgb(41, 41, 41);
}

#cards_section h6,
#cards_section h4 {
    color: whitesmoke;
}

#cards_section p {
    width: 700px;
    margin: 0px auto;
}

#cards_section h2 {
    font-size: 20px;
    margin-top: 0px;
}

#cards_container {
    display: grid;
    grid-template-columns: repeat(4, 295px);
    grid-auto-rows: 197px;
    grid-gap: 24px;
    width: 1252px;
    margin: 60px auto;
    text-align: left;
}

#cards_container div {
    padding-left: 24px;
}

#cards_container h6 {
    font-weight: normal;
    margin-bottom: 12px;
}

#cards_container h4 {
    font-size: 22px;
    margin-top: 0px;
}

#bobs_burgers {
    background-image: 
        linear-gradient(to bottom, #000000DD, #00000000 40%),
        url("../images/BBQ2.jpg");
    background-size: contain;
}

#prey {
    background-image: 
    linear-gradient(to bottom, #000000DD, #00000000 40%),
    url("../images/BBQ3.jpg");
    background-size: contain;
}

#handmaids_tale {
    background-image: 
    linear-gradient(to bottom, #000000DD, #00000000 40%),
    url("../images/BBQ4.jpg");
    background-size: contain;
}

#dragon {
    background-image: 
    linear-gradient(to bottom, #000000DD, #00000000 40%),
    url("../images/BBQ5.jpg");
    background-size: contain;
}

/** Contact stuff **/

#grid_container {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas:
        ". header_area ."
        ". main_area .";
}

div {
    text-align: center;
}

p {
    margin-left: 20px;
}

.logo {
    display: flex;
    justify-content: center;
}

img {
    width: 350px;
}

header {
    grid-area: header_area;
    text-align: center;
}

#first_name_id,
#last_name_id {
    width: 43%;
    padding: 10px;
    font-size: 15px;
}

#phone_number_email {
    width: 95%;
    padding: 10px;
    font-size: 15px;
}

#password_id {
    width: 91%;
    padding: 10px;
    font-size: 15px;
}

.number_email {
    text-align: center;
    padding: 12px;
    
}

.password {
    text-align: center;
}

.birthdate {
    display: flex;
    justify-content: center;
}

#month_id,
#day_id,
#year_id {
    width: 30%;
    padding: 10px;
    font-size: 15px;
    margin: 5px;
}

.gender {
    display: flex;
    justify-content: center;
}

.female_choice,
.male_choice,
.custom_choice {
    border: 1px solid #727272cc;
    width: 26%; 
    padding: 10px;
    margin: 5px;
}

main {
    grid-area: main_area;
}

body {
    background-color: rgb(230, 230, 230);
}

form {
    padding: 20px;
}

#link {
    font-size: 22px;
}

a {
    text-decoration: none;
}

input:not(focus):not(:placeholder-shown):invalid {
    background-color: rgb(255, 74, 74);
}

input:not(focus):not(:placeholder-shown):valid {
    background-color: rgb(79, 182, 132);
}

input[type=submit] {
    width: 30%;
    padding: 13px;
    font-size: 20px;
    border-radius: 70px;
    background-color: rgb(255, 94, 94);
    color: white;
    margin: 15px;
    border: 1px solid rgb(255, 94, 94);
    cursor: pointer;
    transition: transform 0.25s;
}

input[type=submit]:hover {
    transform: scale(1.1);
}

input[type=submit]:active {
    background: linear-gradient(to top, rgb(255, 94, 94), rgb(184, 42, 42));
}

/** Carousel **/

.carousel-item {
    height: 400px;
    padding: 24px;
}