div {
    padding: 10px;
    color: white;
    font-family: verdana;
}

p {
    color: white;
    font-family: verdana;
}

.button {
    padding-left: 0px;
}

fieldset {
    background-color: rgb(107, 1, 168);
}