body {
    margin: 0px;
    background-color: black;
}

a {
    color: white;
}

nav {
    background-color: black;
    color: white;
    padding: 4px;
    top: 0px;
    display: flex;
}

.button_2 input[type=button] {
    background-color: rgb(28 231 131);
    color: rgb(4 4 5);
    font-weight: bolder;
    font-size: 15px;
    width: 500px;
    padding: 13px;
    border-radius: 5px;
}

#log_in {
    margin-left: auto;
}

#log_in input[type=button] {
    background: none;
    color: rgb(156, 156, 156);
    font-weight: bolder;
}

#hero {
    color: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/hulu-bg.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.nav_2 {
    display: flex;
    padding: 30px;
    margin-top: 25px;
    background-color: black;
    width: 100%;
}

.nav_2 img {
    height: 70px;
}

.nav_2 p {
    padding: 20px;
    font-size: 20px
}

.nav_2 input[type=button] {
    background-color: black;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    height: 50px;
    width: 160px;
    margin-left: auto;
}

.plans {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

#four_cards {
    display: flex;
}

#four_cards {
    justify-content: space-between;
    color: white;
    padding: 20px;

}

.card_1 {
    background-image: url("../images/bobsburgers.jpeg");
    background-size: cover;
    height: 400px;
    width: 250px;
}

.card_2 {
    background-image: url("../images/prey.jpeg");
    background-size: cover;
    height: 400px;
    width: 250px;
}

.card_3 {
    background-image: url("../images/handmaidstale.jpeg");
    background-size: cover;
    height: 400px;
    width: 250px;
}

.card_4 {
    background-image: url("../images/houseofdragon.jpeg");
    background-size: cover;
    height: 400px;
    width: 250px;
}

